:root {
    --dnd-gutter-handle: red;
}

/* @settings

name: Drag'n-drop
id: drag-n-drop
settings:
    - 
        id: my-title
        title: Handle settings
        type: heading
        level: 3
    - 
        id: dnd-gutter-handle
        title: Gutter handle color
        type: variable-color
        format: hsl-split
        default: red
*/

.dnd-gutter-marker {
    /* opacity: 0; */
    color: var(--dnd-gutter-handle);
    cursor: pointer;
}

.dnd-gutter-marker:hover {
    opacity: 1;
}

.drag-over {
    background-color: rgba(0, 255, 255, 0.697);
}

.drag-last {
    border-bottom: 2px solid black;
}

.cm-dropCursor {
    display: none !important;
}

.dnd-drag-container .cm-gutterElement {
    display: none;
}

