:root {
    --dnd-gutter-handle: var(--interactive-accent);
}

/* @settings
name: Drag'n-drop
id: drag-n-drop
settings:
    - 
        id: dnd-gutter-handle-heading
        title: Handle settings
        type: heading
        level: 3
        collapsed: false
    - 
        id: dnd-gutter-handle
        title: Gutter handle color
        type: variable-color
        format: hsl-split
        default: rgb(0, 0, 0)
*/

.cm-gutter .dnd-gutter-marker {
    opacity: 50%;
}

.cm-gutter .dnd-gutter-marker:hover {    
    opacity: 100%;
}

.markdown-source-view.mod-cm6 .cm-gutters {
    pointer-events: all;
}

.dnd-render-draggable-content .dnd-gutter-marker {
    opacity: 0;
}

.dnd-render-draggable-content .dnd-drag-container {
    color: var(--text-normal) !important;
}

.dnd-gutter-marker {
    color: var(--dnd-gutter-handle) !important;
    cursor: pointer;
}

.drag-over {
    background-color: rgba(0, 255, 255, 0.099);
}

.drag-over-invalid {
    background-color: rgba(255, 0, 0, 0.099);
}

.drag-last span:not(.cm-hmd-list-indent, .cm-indent), .drag-parent-last {
    border-bottom: 2px solid black;
}

.cm-dropCursor {
    display: none !important;
}

.dnd-drag-container {
    position:absolute;
}

.dnd-drag-container-inactive {
    display: none !important;
    position: relative;
}
